@model Plans.Infrastructure.Response<List<Plans.Payment.Entities.Billing.AddOnModel>>
@{
    ViewData["Title"] = "Expansion Plan";
}

<h1>ExpansionPlan</h1>
<div width="100%" style="text-align:center">
   
    <table width="75%" style="border:solid; border-block:dashed;color:black">
        <tr><td colspan="5" style="text-align:center;background:gray"> <p>Congartualtion Your Expansion Plan </br> is Successfully Upgraded</p> </tr>
        <tr><td colspan="5" style="text-align:center"><hr /> </tr>
        <tr><td>Transaction ID</td><td></td><td>Date</td><td></td><td>Amount Paid</td></tr>
        <tr><td>12322222</td><td></td><td>9 Sept 2022</td><td></td><td>$710</td></tr>
    </table>
</div>
